@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,600;0,700;1,400&display=swap');

*{
  padding: 0;
  margin: 0;
  border: none;
}

body{
  font-family: 'Mulish', sans-serif;
}

.container{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

.col-12{
  flex: 0 0 auto;
  width: 100%;
}

p{
  margin: 10px 0;
}

.form-container{
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  margin: 10px;
}

.form-error{
  width: 100%;
  max-width: 300px;
  color: red;
  font-weight: bold;
  background-color: #c1c1c1;
  border-radius: 5px;
}

.file-img-grid{
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.form-submit{
  width: 100%;
  max-width: 200px;
  background-color: #0057ff;
  color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 3rem;
}

.input-range{
  display: flex;
  column-gap: 20px;
  margin-top: 2rem;
}

#imgFormat{
  border: 1px solid;
  border-radius: 10px;
  background-color: #dfdfdf;
  max-width: 20%;
  margin-top: 1rem;
}

.minify-img{
  width: 100%;
  max-width: 500px;
}

.loading{
  background-color: #c1c1c1;
  color: black;
}

/* CARD */

.bg-card{
  position: relative;
  width: 618px;
  height: 731px;
  max-width: 100%;
  max-height: 100%;
  background: linear-gradient(119.36deg, #D6D2FF 0%, #E0F0FF 100%);
  border-radius: 49px;
}
.card{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px;
  gap: 30px;
  position: absolute;
  top: 2rem;
  left: 2rem;
  width: 530px;
  height: 718px;
  background: #FFFFFF;
  box-shadow: 0px 8px 35px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
}

.btn-upload{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 10px;

  width: 430px;
  height: 63px;

  background: linear-gradient(94.44deg, #5FF489 1.43%, #79F4F4 100%);
  border-radius: 15px;
}

.btn-upload > span{
  color:#292E5A;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
}

input[type=number]{
  border: 1px solid;
  border-radius: 10px;
  padding: 10px;
  font-weight: 700;
}

.input-select{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}